# Virtual environment
venv/
.venv/

# Logs
*.log

bulk.py
test_db.py
# Python cache
__pycache__/
*.pyc
*.pyo

# Environment variables
.env
.env.*

# Local databases
*.sqlite3
*.db

# OS files
.DS_Store
Thumbs.db

# Temp / local scripts
check.py

debug.json